<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="htpp://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/layout_utils :: header}"></header>

    <div th:replace="~{${content}}"></div>

    <footer th:replace="~{fragments/layout_utils :: footer}"></footer>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>